.product {
  display: flex;
  flex-direction: column;

  padding: 15px;
  width: 100px;
}

.img {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black;
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
}
